[Unit]
Description=Backend Automated Dialer Service
After=network.target

[Service]
WorkingDirectory=/usr/local/utils/covid/backend-asterisk/backend/
Type=simple
User=root
ExecStart=/usr/local/utils/covid/backend-asterisk/backend/backend-dialer
Restart=always

[Install]
WantedBy=default.target
